*{
    margin: 0;
    padding: 0;
}

#pagina{
    position: relative;
    min-height: 100%;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
}

#contenedor_logo{
    display: block;
}

header{
    max-height: 150px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

#nombre_asociacion{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

#nombre_asociacion > h1{
    margin-top: 10%;
}

#header_main{
    display: flex;
    justify-content: center;
    background-color: beige;
}

#menu_navegacion{
    margin-right: 5%;
    display: inline-block;
}

#menu_navegacion > ul > li{
    margin-top: 10%;
    list-style: none;
    display: inline-block;
}

#menu_navegacion > ul > li > a{
    display: block;
    padding: 8px;
}

main{
    margin-top: 6%;
}

footer{
    width: 100%;
    background-color: beige;
    position: absolute;
    height: 70px;
    bottom: 0;
    left: 0;
}

#contenedor_footer{
    display: flex;
}

#copy{
    justify-content: left;
    width: 100%;
    margin: 5px;
    /*justify-content: left;*/
}

#enlaces_footer{
    width: 50%;
    margin-left: 75%;

}

#enlaces_contacto > p{
    margin-left: 20px;
    float: inline-end;
    text-align: right;
}
