*{
    margin: 0;
    padding: 0;
}

#pagina{
    position: relative;
    min-height: 100%;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    display: grid;
    grid-template-rows: [header] 12% [main] 78% [footer] 10%;
}

#logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
}

#contenedor_logo{
    display: block;
}

header{
    grid-row-start: header;
    grid-row-end: main;
    width: 100%;
    top: 0;
    left: 0;
}

#nombre_asociacion{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

#nombre_asociacion > h1{
    margin-top: 10%;
}

#header_main{
    display: flex;
    justify-content: center;
    background-color: beige;
}

#menu_navegacion{
    margin-right: 5%;
    display: inline-block;
}

#menu_navegacion > ul > li{
    margin-top: 10%;
    list-style: none;
    display: inline-block;
}

#menu_navegacion > ul > li > a{
    display: block;
    padding: 8px;
}

main{
    grid-row-start: main;
    grid-row-end: footer;
}

footer{
    grid-row-start: footer;
    height: 100%;
    width: 100%;
    background-color: beige;
    display: inline-grid;
    grid-template-columns: [copy] 50% [enlaces] 50%;
}

#copy{
    display: inline-block;
    grid-column-start: copy;
    grid-column-end: enlaces;
    justify-content: left;
    width: 100%;
    margin: 5px;
}

#enlaces_footer{
    grid-column-start: enlaces;
    width: 98%;
    margin-right: 0%;
    text-align: right;

}
