*{
    margin: 0;
    padding: 0;
}

#logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#contenedor_logo{
    display: block;
}

header{
    background-color: beige;
    max-height: 101px;
}

#nombre_asociacion{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

#nombre_asociacion > h1{
    margin-top: 10%;
}

#principal{
    display: flex;
    justify-content: center;
} 
