/*TEMAS DEL INDEX*/
/* Estilos especificos para light mode*/
.light_mode {
    background-color: #CBDEF1;
    color: black;
}

.light_mode header {
    background-color: #4B8CB9;
    color: black;
}

.light_mode header #menu a {
    color: black;
}

.light_mode footer {
    background-color: #4B8CB9;
}

.light_mode footer #propietarios {
    color: black;
}

.light_mode footer #enlaces a {
    color: black;
}

.light_mode main #actividades {
    background-color: #47B2FF3F;
    color: black;
}

.light_mode main #actividades-ejemplo {
    background-color: #47B2FF3F;
    color: black;
}

.light_mode main #elementos-interes {
    background-color: #47B2FF3F;
    color: black;
}

.light_mode main #calendario {
    background-color: #47B2FF3F;
    color: black;
}

.light_mode #img1 {
    background-color: #CBDEF1;
    color: black;
}

.light_mode #img2 {
    background-color: #CBDEF1;
    color: black;
}

.light_mode #img3 {
    background-color: #CBDEF1;
    color: black;
}

.light_mode #img4 {
    background-color: #CBDEF1;
    color: black;
}

.light_mode #img5 {
    background-color: #CBDEF1;
    color: black;
}

.light_mode #img6 {
    background-color: #CBDEF1;
    color: black;
}

.light_mode #img7 {
    background-color: #CBDEF1;
    color: black;
}

.light_mode #tabla {
    background-color: #CBDEF1;
    color: black;
}

.light_mode #horario{
    border-color: black;
}
/* Estilos específicos para dark mode */
.dark_mode {
    background-color: #2A4053;
    color: white;
}

.dark_mode #menu a {
    color: white;
}

.dark_mode header {
    background-color: #0C1821;
    color: white;
}

.dark_mode footer {
    background-color: #0C1821;
}

.dark_mode footer #propietarios {
    color: white;
}

.dark_mode footer #enlaces a {
    color: white;
}

.dark_mode main #actividades {
    background-color: #1B2A41;
    color: white;
}

.dark_mode main #actividades-ejemplo {
    background-color: #1B2A41;
    color: white;
}

.dark_mode main #elementos-interes {
    background-color: #1B2A41;
    color: white;
}

.dark_mode main #calendario {
    background-color: #1B2A41;
    color: white;
}

.dark_mode #img1 {
    background-color: #324A5F;
    color: white;
}

.dark_mode #img2 {
    background-color: #324A5F;
    color: white;
}

.dark_mode #img3 {
    background-color: #324A5F;
    color: white;
}

.dark_mode #img4 {
    background-color: #324A5F;
    color: white;
}

.dark_mode #img5 {
    background-color: #324A5F;
    color: white;
}

.dark_mode #img6 {
    background-color: #324A5F;
    color: white;
}

.dark_mode #img7 {
    background-color: #324A5F;
    color: white;
}

.dark_mode #tabla {
    background-color: #324A5F;
    color: white;
}

.light_mode #horario{
    border-color: white;
}

/*FIN DE LOS TEMAS DEL INDEX*/

/*TEMAS DE REGISTRO*/
/*Light mode*/
.light_mode main #formulario {
    background-color: #47B2FF3F;
    color: black;
}

.light_mode main #datos {
    background-color: #47B2FF3F;
    color: black;
}

.light_mode #tabla {
    background-color: #CBDEF1;
    color: black;
}

.light_mode #prueba{
    background-color: #CBDEF1;
    color: black;
}

/*Dark mode*/
.dark_mode main #formulario {
    background-color: #1B2A41;
    color: white;
}

.dark_mode main #datos {
    background-color: #1B2A41;
    color: white;
}

.dark_mode #tabla {
    background-color: #324A5F;
    color: white;
}

.dark_mode #prueba {
    background-color: #324A5F;
    color: white;
}
/*FIN DE TEMAS DE REGISTRO*/























/* Temas de contacto*/
/*Light mode*/
.light_mode main #lugares {
    background-color: #47B2FF3F;
    color: black;
}

.light_mode #sitios {
    background-color: #CBDEF1;
    color: black;
}

.light_mode main #ubicacion {
    background-color: #47B2FF3F;
    color: black;
}

.light_mode #mapa {
    background-color: #CBDEF1;
    color: black;
}

.light_mode main #correo {
    background-color: #47B2FF3F;
    color: black;
}

.light_mode #direccion_correo{
    background-color: #CBDEF1;
    color: black;
}

.light_mode #direccion_correo a {
    color: black;
}

.light_mode main #desarrolladores {
    background-color: #47B2FF3F;
    color: black;
}

.light_mode #nombres {
    background-color: #CBDEF1;
    color: black;
}

/*Dark mode*/
.dark_mode main #lugares {
    background-color: #1B2A41;
    color: white;
}

.dark_mode #sitios {
    background-color: #324A5F;
    color: white;
}

.dark_mode main #ubicacion {
    background-color: #1B2A41;
    color: white;
}

.dark_mode #mapa {
    background-color: #324A5F;
    color: white;
}

.dark_mode main #correo {
    background-color: #1B2A41;
    color: white;
}

.dark_mode #direccion_correo {
    background-color: #324A5F;
    color: white;
}

.dark_mode #direccion_correo a {
    color: white;
}

.dark_mode main #desarrolladores {
    background-color: #1B2A41;
    color: white;
}

.dark_mode #nombres {
    background-color: #324A5F;
    color: white;
}

/*Fin temas de contacto*/



/*Temas de quienes_somos*/
/*Light mode*/
.light_mode main #descripcion {
    background-color: #47B2FF3F;
    color: black;
}

.light_mode #imagen {
    background-color: #CBDEF1;
    color: black;
}


/*Dark mode*/
.dark_mode main #descripcion {
    background-color: #1B2A41;
    color: white;
}

.dark_mode #imagen {
    background-color: #324A5F;
    color: white;
}


/*Fin de temas de quienes_somos*/



/*Temas de noticias*/
/*Light mode*/
.light_mode main #noticias {
    background-color: #47B2FF3F;
    color: black;
}

.light_mode #texto1 {
    background-color: #CBDEF1;
    color: black;
}

.light_mode #texto2 {
    background-color: #CBDEF1;
    color: black;
}

/*Dark mode*/
.dark_mode main #noticias {
    background-color: #1B2A41;
    color: white;
}

.dark_mode #texto1 {
    background-color: #324A5F;
    color: white;
}

.dark_mode #texto2 {
    background-color: #324A5F;
    color: white;
}

/*Fin temas de noticias*/
